.metadata
RemoteSystemsTempFiles
/bin
.cache
.DS_Store
*~
*.class
lib/com.microsoft.z3.jar
src/tests/baseline.smt
src/tests/current.smt
src/tests/baseline.smt.model
src/tests/current.smt.model
src/tests/test.k
.texpadtmp
*.aux
*.bbl
*.blg
*.log
*.pdf
/tmp
/.cache-main
