.metadata
RemoteSystemsTempFiles
/bin
.cache
.DS_Store
*~
*.class
lib/com.microsoft.z3.jar
src/papers/fomac-k/.texpadtmp
src/papers/fomac-k/*.aux
src/papers/fomac-k/*.bbl
src/papers/fomac-k/*.blg
src/papers/fomac-k/*.log
src/papers/fomac-k/*.pdf
src/tests/baseline.smt
src/tests/current.smt
src/tests/baseline.smt.model
src/tests/current.smt.model
