.body { 
    background: url(squared_metal.png) repeat 0 0;
} 

.CodeMirror-foldmarker {    
    font-family: Consolas;
}
.CodeMirror-foldgutter {
    width: .7em;
}

.CodeMirror-foldgutter-open,.CodeMirror-foldgutter-folded {
    color: #555;
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}